<ion-header>

    <ion-navbar color="danger">
        <ion-title *ngIf="total == 0">Carrinho Vazio.</ion-title>
        <ion-title *ngIf="total > 0">Finalize o pedido.</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <!--CARRINHO VAZIO-->
    <span *ngIf="total == 0">
        <ion-img class="img" src="assets/imgs/404.png"></ion-img>
    </span>
    
    <!--CARRINHO COM ITEMS-->
    <span *ngIf="total > 0">
        <ion-list>
            <ion-item *ngFor="let item of items; let i = index">
                <ion-thumbnail item-start>
                    <img [src]="item.imagePath">
                </ion-thumbnail>
                <h2>{{ item.name }}</h2>
                <h3>{{ item.price  | currency:'BRL'}}</h3>
                <button ion-button clear item-end icon-only (click)="deleteItem(i)">
                    <ion-icon name="ios-trash-outline"></ion-icon>
                </button>
            </ion-item>
        </ion-list>

        <!-- <button ion-button color="dark" (click)="clearCart()">Limpar Carrinho</button> -->
        <h5 text-right>Total: {{ total | currency:'BRL':true}}</h5>
        <button ion-button round outline icon-only color="danger" block (click)="newOrder()">Continuar pedido</button>

    </span>

</ion-content>
