page-welcome {
    #welcome {
        margin-top: 4.0em;
        text-align: center;
        font-size: 1.5em;
    }
    .btnRestaurants{
        text-align: center;
        margin-top: 2.5em;
        font-size: 1.5em;
    }
    .btnLogin{
        text-align: center;
        margin-top: 3.0em;
        font-size: 2.0em;
    }
}
